.lincoapp-form{

    .area{
        width: 100%;
        border: 1px solid #ddd;
        padding: 4px 6px;
        border-radius: 2px;
        box-sizing: border-box;
        resize: none;
        outline: 0;
    }

    .caret{
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -2px;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .form-group{
        margin-bottom: 10px;
    }

    // 下拉菜单
    .dropdown{
        .box-flex();
        position: relative;

        .dropdown-menu{
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;

            .box-sizing();
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            border-radius: 0;
            box-shadow: none;
            border: 1px solid #ddd;
            border-top-color: #ddd;
            margin-top: -1px;
            padding: 0;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .dropdown-option{
            line-height: 2;
            padding: 2px 8px;

            &:not(:last-child){
                border-bottom: 1px #ddd;
            }

            &:hover{
                background: #f1f1f1;
                cursor: default;
            }
        }
    }

    .form-ui-tag{
        @height: 26px;

        .tags{
            margin-top: 12px;
            overflow: hidden;
        }

        .tag{
            float: left;

            &.selected{
                color: #fff;
                background: @blue;
            }
        }

        i{
            display: inline-block;
            min-width: 10px;
            height: @height;
            line-height: @height;
            font-size: 14px;
            font-style: normal;
            padding: 0 8px;
            border: 1px solid #ddd;
            border-radius: @height/2;
            overflow: hidden;
            margin-right: 6px;
            text-align: center;
            cursor: default;
            -webkit-user-select: none;
        }
    }

}
