.lincoapp-form{
    padding: 0.12rem;
    background: #fff;

    .layer{
        display: block;
        margin-bottom: 0.12rem;
    }

    .title{
        font-size: 0.15rem;
        color: black;
        line-height: 2;
        .box();
        .box-pack(justify);
        .box-align(center);
    }

    .irequired{
        color: #E35760;
        margin-left: 0.04rem;
    }
}

.ui-form-input, .ui-form-textarea{
    display: block;
    border-radius: 2px;
    font-size: 0.14rem;
    background: #fff;
    width: 100%;
    .box-sizing();
    outline: none;
    resize: none;
    border: 1px solid #ddd;
}

.ui-form-input{
    height: 0.36rem;
    line-height: 0.36rem;
    padding: 0 0.08rem;
}

.ui-form-textarea{
    height: 0.7rem;
    padding: 0.08rem;
}
